@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var manufacturerrepairreports = ViewBag.ManufacturerRepairReport as List<ManufacturerRepairReport>;
}
<h1>Report - Repair</h1>

<div class="btn-group mt-3">

    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Get Reports
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/Report/ColorReport">Sales by Color</a>
        <a class="dropdown-item" href="/Report/VehicleTypeReport">Sales by Vehicle Type</a>
        <a class="dropdown-item" href="/Report/ManufacturerReport">Sales by Manufacturer</a>
        <a class="dropdown-item" href="/Report/GrossCustomerIncomeReport">Gross Customer Income</a>
        <a class="dropdown-item" href="/Report/RepairReport">Repair Reports</a>
        <a class="dropdown-item" href="/Report/BelowCostSaleReport">Below Cost Sales</a>
        <a class="dropdown-item" href="/Report/AverageInventoryTimeReport">View Average Inventory Time</a>
        <a class="dropdown-item" href="/Report/PartReport">Parts Statistics</a>
        <a class="dropdown-item" href="/Report/MonthlySaleReport">Monthly Sales</a>
    </div>
</div>


<h1>Manufacturers</h1>

<div id="" style="padding-top:5px">
    <table id="tblrepairbymanufacturer" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    Manufacturer
                </th>
                <th>
                    Number of Repairs
                </th>
                <th>
                    Parts Total Cost
                </th>
                <th>
                    Labor Total Cost
                </th>
                <th>
                    Repair Total
                </th>
            </tr>
        </thead>
        <tbody id="">


            @foreach (var r in manufacturerrepairreports)
            {

            <tr>


                @if (@r.repair_count != 0)
                {
                    <th>
                        <a href="/Report/RepairTypeReport?ManufacturerName=@r.manufacturer">
                            @r.manufacturer
                        </a>

                    </th>
                    <td>
                        @r.repair_count
                    </td>
                    <td>
                        @r.total_parts_cost
                    </td>
                    <td>
                        @r.total_labor_charge
                    </td>
                    <td>
                        @r.total_repair_cost
                    </td>
                }
                else
                {

                    <th>
                        <a>
                            @r.manufacturer
                        </a>

                    </th>
                    <td>
                        @r.repair_count
                    </td>
                    <td>
                        @r.total_parts_cost
                    </td>
                    <td>
                        @r.total_labor_charge
                    </td>
                    <td>
                        @r.total_repair_cost
                    </td>

                }

            </tr>

            }


        </tbody>
    </table>

</div>

<script>$('#tblrepairbymanufacturer').DataTable({ "order": [], "pageLength": 100 } )</script>